params {
// -------------------------------------------------------------------------
// misc
help=false
threads=48
max_mem=90
output_dir=false
fasta_ccs_dir=false
read_type="ccs"
// this is the directory containing all the scripts executed internally
// set it to the correct one if re-using this workflow
source_dir="/gpfs/data/fs71579/schmat90/CF/projects/meta/M00001_PacBio_chicken_gut_metagenomics/scripts/wf-assembly/src"
// -------------------------------------------------------------------------
// minimap2
minimap_kmer_size=28
host_genome_seq=false
human_genome_seq=false
// -------------------------------------------------------------------------
// canu
kmer_size=15
// meryl threads must be threads / 4
meryl_threads=12
// meryl memory must be maxmem / 4
meryl_memory=80
// to use all the reads that are available
max_input_coverage=99999
min_read_length=1000
min_overlap_length=100
avg_genome_size="2.5m"
cor_min_coverage=0
cor_out_coverage="all"
// canu error rates
// don't compute correction overlaps above this error rate
cor_ovl_error_rate="0.0225"
// don't trim above this error rate
obt_ovl_error_rate="0.0225"
// don't compute unitigs above this error rate
utg_ovl_error_rate="0.0225"
// discard overlaps with error rate higher than this
cor_error_rate="0.0225"
// overlap stringency trimming reads
obt_error_rate="0.0225"
// overlap stringency building unitigs
utg_error_rate="0.0225"
// amount of diff. in read-to-read alignment
cns_error_rate="0.0225"
// -------------------------------------------------------------------------
// metaquast
min_identity=90
quast_min_alignment=1000
contig_thresholds="0,1000,10000,100000,500000,1000000"
// -------------------------------------------------------------------------
// prokka options
kingdom="Bacteria"
evalue=1e-06
min_contig_len=200
}

env {
// executables of programs that are used inside the workflow
MINIMAP2="minimap2"
SAMTOOLS="samtools"
CANU="canu"
METAQUAST="metaquast.py"
BIOAWK="bioawk"
RSCRIPT="Rscript"
PYTHON3="python3.8"
PROKKA="prokka"
}
